body {
    margin: 0px;
    padding: 0px;
}

/* header */
header { 
    height: 50px;
    position: absolute;
    top: 0px;
    position: fixed;
    width: 100%;
    background-color: white;

}


/* side menu */
.side-menu-box {
    width: 200px;
    height: 100%;
    position: fixed;
    float: left;
    padding-left: 40px;
    padding-top: 40px;
}

.side-menu-box .side-title h1 {
    font-size: 15px;
    margin: 0px;
    letter-spacing: 3px;
}

.side-menu-box .side-title .message {
    font-size: 10px;
    margin: 0px;
    letter-spacing: 1px;
}

.sns-links {
    padding-left: 0px;
    list-style: none;
    position: relative;
    left: 0px;
    width: 200px;
}

.sns-links li {
    float: left;
}

.sns-links a {
    text-decoration: none;
    color: gray;
    background-color: #f5f5f5;
    padding: 5px;
    border-radius: 3px;
    font-size: 11px;
    display: block;
    margin-bottom: 3px;
    margin-right: 3px;
    letter-spacing: 1px;
}

.other-page-links {
    clear: both;
    list-style: none;
    padding-left: 0px;
    padding-top: 50px;
}

.other-page-links a {
    text-decoration: none;
    color: black;
    font-size: 13px;
    padding: 3px;
    padding-left: 5px; 
    display: block;
    margin-bottom: 10px;
    background-color: #f5f5f5;
    letter-spacing: 1px;
}


/* right content */

.mini-header {
    padding: 20px 20px 0px;
}

.mini-header h1 {
    text-align: center;
    font-size: 15px;
    margin: 0xp;
    letter-spacing: 3px;
}

.mini-header .message {
    text-align: center;
    font-size: 10px;
    position: relative;
    top: -10px;
}

.right-content {
    padding-top: 40px;
    margin-left: 240px;
    padding-bottom: 40px;
}

.mini-sns-links {
    padding-left: 0px;
    list-style: none;
    width: 290px;
    margin: 0px auto;

}

.mini-sns-links li {
    float: left;
}

.mini-sns-links a {
    text-decoration: none;
    color: gray;
    background-color: #f5f5f5;
    padding: 5px;
    border-radius: 3px;
    font-size: 11px;
    display: block;
    margin-bottom: 3px;
    margin-right: 3px;
    letter-spacing: 1px;
}

.mini-other-page-links {
    clear: both;
    list-style: none;
    padding-left: 0px;
    width: 100%;
    padding-bottom: 40px;
}

.mini-other-page-links a {
    float: left;
    text-decoration: none;
    color: black;
    font-size: 15px;
    display: block;
    margin-bottom: 10px;
    margin: 0px 0px 0px;
    width: 50%;
    text-align: center;
    letter-spacing: 1px;
}

/* products */
.products-box {
    clear: both;
    display: block;
    margin: 0px 20px 0px;
}

.product-box {
    height: 200px;
    background-color: #f5f5f5;
    float: left;
    margin: 0px;
    border: 1px white solid;
}

.product-image {
    width: 99%;
    height: 99%;
    margin: 0 auto;
    background-color: #f5f5f5;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.product-image .focus-on {
    height: 200px;
}

.product-image .focus-on:hover {
    background-color: black;
    opacity: 0.4;
    height: 200px;
}


@media all and (min-width: 300px) {
    .product-box {
        width: 49%;
        height: 100px;
    }

    .side-menu-box {
        display: none;
    }

    .right-content {
        margin-left: 0px;
        padding-top: 0px;
    }
}

@media all and (min-width: 500px) {
    .product-box {
        width: 48%;
        height: 200px;
    }

    .side-menu-box {
        display: none;
    }

    .right-content {
        margin-left: 0px;
        padding-top: 0px;
    }
}

@media all and (min-width: 800px) {
    .product-box {
        width: 48%;
    }

    .side-menu-box {
        display: block;
    }

    .right-content {
        margin-left: 240px;
        padding-top: 40px;
    }

    .mini-header {
        display: none;
    }
}

@media all and (min-width: 1000px) {
    .product-box {
        width: 33%;
    }

    .side-menu-box {
        display: block;
    }

    .right-content {
        margin-left: 240px;
        padding-top: 40px;
    }

    .mini-header {
        display: none;
    }
}


/* footer */
footer {
    position: absolute;
    left: 40px;
    bottom: 50px;
    padding-top: 50px;
    padding-bottom: 20px;
}

footer .copyright {
    font-size: 10px;    
}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
}



/* profile */

/* work */

.profile-box {
    margin-top: 50px;
    margin-bottom: 50px;
}

.profile-box h1 {
    margin-top: 0px;
    font-size: 20px;
    padding-left: 10px;
    border-left: 3px black solid;
    letter-spacing: 1px;
}

.profile-box .work-content {
    margin-left: 40px;    
}

.profile-box .work-content h2 {
    font-size: 15px;
    margin-bottom: 0px;
}

.work-content {
    margin-bottom: 40px;
}

.work-content ul {
    list-style: none;
    font-size: 13px;
}

.work-content .date {
    font-size: 10px;
    color: gray;
    margin-top: 0px;
    letter-spacing: 1px;
}

#product {
    position: absolute;
    top: 0px;
    display: block;
}

#profile {
    position: relative;
    top: 0px;
    display: block;   
}
